html, body{
	font-size: 100%;
	font-family: Georgia, serif;
	color: #49535E;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	text-align: justify;
	line-height: 1.5em;
}
::selection{
	background: rgb(79,181,201);
	color: white;
}
a{
	color: rgb(230,88,53);
	text-decoration: none;
}
a:hover{
	color: rgb(79,181,201);
}
img{
	padding-top: 2%;
	max-width: 100%;
}
h1{
	font-size: 2em;
}
h2{
	font-size: 1.5em;
}
.sm{
	font-size: 0.70em;
}
.ub{
	font-weight: normal;
}
.left, .right{
	text-transform: uppercase;
}
.right{
	float: right;
}
#wrapper{
	width: 30%;
	margin: 0 auto;
	overflow: hidden;
}
#top{
	top: 0;
	margin-top: 5%;
	margin-bottom: 7%;
}
.center{
	text-align: center;
}
.top-heading{
	font-weight: normal;
	margin-bottom: 7%;
}
#foot{
	font-size: 0.6em;
	text-transform: uppercase;
	color: rgba(73,83,94,0.5);
	position: fixed;
	bottom: 0;
	z-index: -99;
}
.ss{
	text-align: center;
}
pre{
	float: left;
	min-width: 100%;
	overflow: scroll !important;
}
@media screen and (max-width: 800px){
	html, body{
		text-align: left !important;
	}
	#wrapper{
		width: 90%;
		padding: 2.5%;
	}
	#foot{
		position: inherit;
	}
}
@media screen and (max-width: 1024px) and (min-width: 1024px){
	#wrapper{
		width: 90%;
		padding: 2.5%;
	}
}