@font-face{
  font-family: 'Mercury';
  src: url('mr.ttf') format('truetype'),
}
html, body{
	font-size: 100%;
	font-family: "Mercury", Georgia, serif;
	color: #49535E;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	justify-content: space-between;
}
::selection{
	background: rgb(79,181,201);
	color: white;
}
a::selection{
	background: rgb(230,88,53);
	color: white;
}
a{
	color: rgb(230,88,53);
	text-decoration: none;
}
a:hover{
	color: rgb(79,181,201);
}
h1{
	font-size: 2em;
}
h2{
	font-size: 1.5em;
}
.sm{
	font-size: 0.70em;
}
.left, .right{
	text-transform: uppercase;
}
.right{
	float: right;
}
#wrapper{
	width: 30%;
	margin: 0 auto;
}
#top{
	top: 0;
	margin-top: 5%;
	margin-bottom: 7%;
}
.center{
	text-align: center;
}
.top-heading{
	font-weight: normal;
}
@media screen and (max-width: 800px) {
	#wrapper{
		width: 100%;
	}
}