@font-face{
  font-family: 'Mercury';
  src: url('mr.ttf') format('truetype'),
}
html, body{
	font-size: 87.5%;
	font-family: "Mercury", Georgia, serif;
}
h1{
	font-size: 2em;
}
h2{
	font-size: 1.5em;
}
.sm{
	font-size: 0.8em;
}
.left, .right{
	text-transform: uppercase;
}
.left{
	float: left;
}
.right{
	float: right;
}
#wrapper{
	width: 30%;
	margin: 0 auto;
}