@font-face{
  font-family: 'Mercury';
  src: url('mr.ttf') format('truetype'),
}
html, body{
	font-size: 87.5%;
	font-family: "Mercury", Georgia, serif;
	color: #49535E;
}
::selection{
	background: rgb(79,181,201);
	color: white;
}
a::selection{
	background: rgb(230,88,53);
	color: white;
}
a{
	color: rgb(230,88,53);
}
h1{
	font-size: 2em;
}
h2{
	font-size: 1.5em;
}
.sm{
	font-size: 0.95em;
}
.left, .right{
	text-transform: uppercase;
}

.right{
	float: right;
}
#wrapper{
	width: 30%;
	margin: 0 auto;
}
#top{
	top: 0;
	margin-top: 10px;
	margin-bottom: 20px;
}