@font-face{
  font-family: 'Mercury';
  src: url('mr.ttf') format('truetype'),
}
html, body{
	font-size: 87.5%;
	font-family: 'Mercury';
}
h1{
	font-size: 2em;
	font-family: 'Mercury';
}
h2{
	font-size: 1.5em;
}